# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=""
# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=""
STACK_VERSION=""
ES_PORT=""
KIBANA_PORT=""
MEM_LIMIT=""
